.sa_titleAllProjects {
    color: #0E2040;
    font-family: Nunito;
    font-size: 3.575rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sa_AdminAllProjects_BodyDiv {
    margin-top:1.5rem !important;
    padding-bottom:5rem !important;
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap !important;
    gap:2.17rem;
    max-width: 1800px;
    max-height: max-content;
    
}

.sa_containerSlideAllProjects ul.slick-dots li div {
    display: flex !important;
    padding: 0.5rem 0.5625rem !important;
    align-items: center !important;
    gap: 10px !important;
    width: 28px !important;
    height: 28px !important;
    background-color: #E0E0E0 !important;
    justify-content: center !important;
    border-radius: 0.5rem !important;
}
.sa_containerSlideAllProjects ul.slick-dots li.slick-active div {
    background-color: var(--1, #FF8500) !important;
    border-radius: 0.5rem !important;
    color: white;
}

.sa_containerSlideAllProjects .slick-dots {
    bottom: 10px;
}

.sa_containerSlideAllProjects .slick-next {
    right: 45.5% !important;
    top: 97.7% !important;
    z-index: 10;
}
.sa_containerSlideAllProjects .slick-next::before {
    content: 'Next' !important;
    color: #585858 !important;
    font-family: Montserrat !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}
.sa_containerSlideAllProjects .slick-prev {
    top: 97.7% !important;
    left: 43.5% !important; 
    z-index: 10;  
}
.sa_containerSlideAllProjects .slick-prev::before {
    content: 'Previous' !important;
    color: #585858 !important;
    font-family: Montserrat !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

@media (max-width : 1790px) {
    .sa_titleAllProjects {
        font-size: 1.575rem;
    }
    .sa_AdminAllProjects_BodyDiv {
        margin-top:1rem !important;
        padding-bottom:5rem !important;
        
    }
    .sa_containerSlideAllProjects .slick-next {
        right: 44% !important;
    }
    .sa_containerSlideAllProjects .slick-prev {
        left: 42% !important; 
    }
}
@media (max-width : 1545px) {
    .sa_containerSlideAllProjects .slick-prev {
        left: 40% !important;  
    }
    .sa_containerSlideAllProjects .slick-next {
        right: 42% !important;
    }
}
@media (max-width : 1545px) {
    .sa_containerSlideAllProjects .slick-prev {
        left: 38% !important;  
    }
}
@media (max-width : 1160px) {
    .sa_containerSlideAllProjects .slick-prev {
        left: 36% !important;  
    }
    .sa_containerSlideAllProjects .slick-next {
        right: 40% !important;
    }
}
@media(max-width: 858px) {
    .sa_containerSlideAllProjects .slick-prev {
        top: 98.7% !important;
        left: 34% !important;
    }
    .sa_containerSlideAllProjects .slick-next {
        top: 98.7% !important;
        right: 38% !important;
    }
}