.si-container2{
    padding: 22px;
    background-color:white;
    color: black;
    border-radius: 15px;
    overflow:hidden;
    box-shadow: 1px 3px  #c9c1c1;
    width: 400px;
    margin: 0 10px 10px 10px;
}
.si-container2 .si-prg{
    border-radius: 10px;
    background: rgb(238, 237, 237);
    padding: 5px;
    width: 100%;
    margin: 10px auto;
}
.si-container2 h3{
    margin-top: 20px;
    margin-bottom: 18px;
}

.mr-profileworkcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mr-p-color {
    color: #686767;
}