.sa_CardTask {
    padding: 1.5rem 1rem;
}

.sa_lamp {
    width: 1.5625rem;
    height: 1.5625rem;
}

.sa_titleTaskCard {
    color: #000;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
}

.sa_TextP {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.sa_TextSpan {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.sa_btnType {
    display: flex;
    width: 4.39025rem;
    height: 1.53125rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.375rem;
    background-color: #FBE7E8;
    color: #A30D11;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sa_btnStatus {
    display: flex;
    width: 6.5375rem;
    height: 1.5625rem;
    padding: 0.25rem 0.9375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.375rem;
    background-color: #EBF9F1;
    color: #1F9254;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sa_DateTextUserProjects {
    color: #555252;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.sa-startdate {
    border-radius: 0.9375rem;
    background: rgba(75, 166, 101, 0.11);
    padding: 5px;
    flex-shrink: 0;
    color: #4ba665b9;
}
.sa-enddate {
    background-color: #FBE7E8;
    border-radius: 0.9375rem;
    padding: 5px;
    flex-shrink: 0;
    color: #A30D11
}

.sa_DivImgTask {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 2rem;
    height: 2.36rem;
    background-color: #8B554D;
    border-radius: 50%;
}

.sa_btnToSubTask {
    width: 1.355rem;
    height: 1.5625rem;
}

.sa_dropDownTask {
    position: absolute;
    top: 100%;
    z-index: 6666;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 5px;
}
.sa_dropDownTask::before {
    content: '';
    position: absolute;
    top: -0.69rem;
    right: 0.75rem;
    z-index: -1;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.sa_dropDownTask.active {
    opacity: 1;
    display: block !important;
}
.sa_dropDownTask.inactive {
    opacity: 0;
    display: none !important;
}