.mr-imgtextcontainer {
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}
.mr-imgtextcontainer .mr-img-work {
    width: 50px;
    height: 50px;
    margin: 7px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.mr-imgtextcontainer .mr-img-project {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.mr-imgtextcontainer p{
    font-size: 12px;
    color: #4B4B4B;
    margin: 0;
}