.sa_cardProject {
    max-width: 30.10656rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background-color: #FFF;
    padding: 1.64rem 1.09rem;
}

.sa_ProjectName {
    color: #000;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.sa_FiEdit {
    width: 1.5625rem;
    height: 1.51744rem;
    flex-shrink: 0;
    color: black;
}

.sa_buttOfftrack {
    text-align: center;
    color: #BD1E1E;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* width: 5rem;
    height: 2.1875em; */
    border-radius: 0.25rem;
    background: rgba(194, 131, 131, 0.20);
    margin: 0;
    padding: 10px;
}

.sa_CardText {
    color: #424242;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    max-width: 35.25rem;
}

.sa_BsHourglassBottom {
    width: 1.1rem;
    height: 1.5625rem;
    color: #E05959;
}

.sa_DateProject {
    color: #D62222;
    font-size: 0.975rem;
    font-style: normal;
    line-height: normal;
}

.sa_SlFolderAlt {
    width: 1.44338rem;
    height: 1.46988rem;
    color: #5C5967;
}
.sa_14_issues {
    color: #5C5967;
    font-size: 0.975rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sa_imgTeam,
.sa_CardImageTeam {
    width: 1.84338rem;
    height: 1.86988rem;
    width: 1.84338rem;
    height: 1.86988rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #FFF;

}

.sa_CardImageTeam2 {
    left: 19%;
    z-index: 113;
}

.sa_CardImageTeam3 {
    left: 40%;
    z-index: 333;
}

.sa_CardImageTeam4 {
    left: 35%;
    z-index: 333;
}

.sa_CardImageTeam5 {
    left: 30%;
    z-index: 333;
}

.sa_CardImageTeam6 {
    left: 25%;
    z-index: 333;
}

@media (max-width : 1790px) {
    .sa_cardProject {
        max-width: 20.10656rem;
        padding: 10px ;
    }   
    .sa_ProjectName {
        font-size: 1rem;
        font-weight: 600;
    }
    .sa_FiEdit {
        width: 1rem;
        height: 1rem;
    }
    .sa_buttOfftrack {
        font-size: 0.75rem;
        font-weight: 400;
        /* width: 4rem;
        height: 2em; */
    }
    .sa_CardText {
        color: #424242;
        font-size: 0.75rem;
    }
    
    .sa_BsHourglassBottom {
        width: 0.88rem;
        height: 1.1rem;
    }
    
    .sa_DateProject {
        font-size: 0.875rem;
    }
    
    .sa_SlFolderAlt {
        width: 1.04338rem;
        height: 1.06988rem;
    }
    .sa_14_issues {
        font-size: 0.875rem;
    }
    
}