.mr-dashboard {
    position: relative;
    background: #F0F6FF;
    min-height: 100vh;
    min-width: 100vw;
}
.mr-outlet {
    padding-top: 100px;
    padding-left: 250px;
}
@media(max-width: 991px) {
    .mr-outlet{
        padding: 90px;
    }
}

.mr-width-chart-home {
    width: 100%;
    height: 100%;
}
