.si-notification{
    width: 350px;
    margin: 10px;
    background:#fff;
    border-radius: 15px; 
    padding: 32px; 
    border-color: #cfd3d4; 
    box-shadow: 1px 3px  #c9c1c1;
}
.si-notflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.si-notflex2{
    display: flex;
    gap:20px;
    margin-top: 18px;
    
}
.si-notflex2 img{
    width: 36px;
    height: 36px;
}
.si-contaierLog{
    width: 700px;
    background: #fff;
    border-radius: 15px; 
    padding: 52px; 
    border-color: #cfd3d4; 
    box-shadow: 1px 3px  #c9c1c1;
}
.si-prgLog{
    margin-top: 90px;
}