.sl-info {
    width: 250px;
    border-radius: 15px;
    background: white;
    box-shadow: 1px 3px #c9c1c1;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.sl-info .sl-divimg {
    position: relative;
    width: 142px;
    height: 142px;
    margin-bottom: 20px;
}

.sl-info .sl-img {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 1px #FF8500 solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.sl-info .sl-img-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px #FF8500 solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sl-info p {
    color: #4B4B4B;
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.20px;
    margin-bottom: 10px;
}
.sl-info .mr-line {
    height: 1px;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    background-color: #D9E6F7;
}
.sl-info ul li {
    display: flex;
    align-items: center;
}
.sl-info ul li img {
    margin-bottom: 10px;
    margin-right: 30px;
}
.sl-info ul li .mr-up-del-btn {
    color: #FF8500;
    font-weight: 400;
}