.mr-updateprofile .si-container1 {
    width: 250px;
    height: 250px;
}
.mr-updateprofile .si-container1 p {
    font-size: 14px;
}
.mr-updateprofile .si-container1 .btn {
    font-size: 12px;
}
.mr-updateprofile .si-container2 {
    width: 350px;
}