/* start global rules */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn,
.btn:active,
.btn:first-child:active {
    background-color: var(--orange);
    width: fit-content;
    color: white !important;
    border: none;
}

.btn:hover,
.btn:focus-visible,
:not(.btn-check)+.btn:active {
    background-color: #ff8400d3;
    color: white;
}

.header-style {
    color: #9A93B3;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.sa_backTask {
    border-radius: 1.25rem;
    background-color: #FFF;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
}
.RA-Width-fit{
    width:fit-content !important;
}