
/*Variables*/
:root{
--orange:#FF8500;
--red:red;
--green:#14a44d;
--darkgray:#4f4f4f;
 --black:black;
 --white:white;
}
/*----------------Color-----------------*/
.colorOrange{
    color: var(--orange) !important;
}
.colorRed{
    color: var(--red) !important;
}
.colorGreen{
    color: var(--green) !important;
}
.colorDarkGreen{
    color: var(--darkgray) !important;
}
.colorBlack{
    color: var(--black) !important;
}
/*----------------BACKGROUND-----------------*/
.colorBgGreen{
    background-color: var(--green) !important;
}
.colorWhite{
    background-color: var(--white) !important;
}
