.sa_btnKanbanView {
    border-radius: 0.5rem;
    background-color: #F0F6FF !important;
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    padding: 0.875rem 1.875rem;
    align-items: center;
    gap: 0.88rem;
}

.sa_IconBtnKanban {
    width: 1.125rem;
    height: 1.125rem;
}