.sa_textTitle {
    color: var(--Text, #4B4B4B);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    margin-bottom: 0;
}
.sa_searhView {
    gap: 1rem;
}
.sa_form {
    border-radius: 6px;
    max-width: 11.79919rem;
    height: 2.0315rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 5px 7px;
    gap: 5px;
    background-color: #e5e6e9;
}
.sa_searchIcon {
    width: 1.10069rem;
    height: 1.22956rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.sa_searchTextTeamMember {
    background-color: #e5e6e9;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sa_viewAll {
    color: var(--1, #FF8500);
    text-align: center;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    margin-bottom: 0;
}
.sa_picMemberDiv {
    width: 4.5063rem;
    height: 4.5063rem;
    background-color: #D0B229;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 3px;
}
.sa_picMember {
    width: 3.73544rem;
    height: 4.57063rem;
}
.sa_slide {
    
    padding-bottom: 1.15rem;
    padding-top: 1rem;
    background-color: white;
}
.sa_containerSlideMember {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.sa_box {
    height: 100% !important;
    width: 100% !important;
}
.sa_containerSlideMember ul.slick-dots {
    bottom: -20px;
}
.sa_containerSlideMember ul.slick-dots li div {
    display: flex !important;
    padding: 0.5rem 0.5625rem !important;
    align-items: center !important;
    gap: 0.25rem !important;
    width: 25px !important;
    height: 25px !important;
    background-color: #E0E0E0 !important;
    justify-content: center !important;
    border-radius: 0.5rem !important;
    font-size: 0.75rem;
}
.sa_containerSlideMember ul.slick-dots li.slick-active div {
    background-color: var(--1, #FF8500) !important;
    border-radius: 0.5rem !important;
    color: white !important;
}

.sa_containerSlideMember .slick-next {
    right: 36% !important;
    top: 92% !important;
    z-index: 10;
}
.sa_containerSlideMember .slick-prev {
    top: 92% !important;
    left: 35% !important; 
    z-index: 10;  
}
.sa_containerSlideMember .slick-next::before {
    content: 'Next' !important;
    color: #9E9E9E !important;
    font-family: Montserrat !important;
    font-size: 0.75rem !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}
.sa_containerSlideMember .slick-prev::before {
    content: 'Previous' !important;
    color: #9E9E9E !important;
    font-family: Montserrat !important;
    font-size: 0.75rem !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}
.slick-dots {
    position: static;
}

@media (max-width : 1294px) {
    .sa_picMemberDiv {
        width: 3.5063rem;
        height: 3.5063rem;
        background-color: #D0B229;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sa_picMember {
        width: 2.73544rem;
        height: 3.57063rem;
    }
    .sa_textTitle {
        font-size: 0.75rem;
    }
    .sa_searhView {
        gap: 15px !important;
    }
    .sa_form {
        border-radius: 6px;
        max-width: 8.79919rem;
        height: 1.7315rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        padding: 5px 7px;
        gap: 5px;
        background-color: #e5e6e9;
    }
    .sa_searchIcon {
        width: 0.88rem;
        height: 0.9rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .sa_searchTextTeamMember {
        background-color: #e5e6e9;
        font-family: Inter;
        font-size: 0.65rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .sa_viewAll {
        color: var(--1, #FF8500);
        text-align: center;
        font-family: Roboto;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.0125rem;
        margin-bottom: 0;
    }
    .sa_containerSlideMember .slick-next {
        right: 30% !important;
        top: 90% !important;
    }
    .sa_containerSlideMember .slick-prev {
        left: 26% !important;
        top: 90% !important;
    }
}

@media (max-width : 992px) {
    .sa_form {
        display: none;
    }
}
@media (max-width : 1102px) {
    .sa_containerSlideMember .slick-next {
        right: 22% !important;
        top: 93% !important;
    }
    .sa_containerSlideMember .slick-prev {
        left: 18% !important;
        top: 93% !important;
    }
}
@media (max-width : 728px) {
    .sa_containerSlideMember .slick-next {
        right: 18% !important;
        top: 95% !important;
    }
    .sa_containerSlideMember .slick-prev {
        left: 12% !important;
        top: 95% !important;
    }
}
@media (max-width : 626px) {
    .sa_containerSlideMember .slick-next {
        right: 10% !important;
        top: 96% !important;
    }
    .sa_containerSlideMember .slick-prev {
        left: 3% !important;
        top: 96% !important;
    }
}
@media (max-width : 567px) {
    .sa_containerSlideMember .slick-next {
        right: 7% !important;
        top: 96% !important;
    }
    .sa_containerSlideMember .slick-prev {
        left: 0% !important;
        top: 96% !important;
    }
}
@media (max-width : 550px) {
    .sa_containerSlideMember .slick-prev {
        left: -3% !important;
    }
}
@media (max-width : 525px) {
    .sa_containerSlideMember .slick-next {
        right: 0% !important;
        top: 98% !important;
    }
    .sa_containerSlideMember .slick-prev {
        left: 0% !important;
        top: 98% !important;
    }
    .sa_containerSlideMember .slick-prev::before {
        content: 'Prev' !important;
    }
}
